---
import Hamburger from "./Hamburger.astro"
import Navigation from "./Navigation.astro"
---
<div class="nav-links">
    <header>
        <nav>
            <Hamburger />
            <Navigation />
        </nav>
    </header>
</div>