<div class="nav-links">
    <a href="/nuclear-neptune/">Home</a>
    <a href="/nuclear-neptune/about/">About</a>
    <a href="/nuclear-neptune/blog/">Blog</a>
    <a href="/nuclear-neptune/tags/">Tags</a>
</div>